*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hader{
    position: relative;
    background-image: url(../images/vista.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 389px;
    color: white;
    margin-bottom: 12px;

}
#mainHAN{
    display: flex;
    flex-direction: column;
   gap: 15px;
    align-items: center;
    justify-content: center;
}
#lateer{
    padding: 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
    display: flex;
    gap: 12px;
}
.squer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background: black;
}
#alert{
    display: flex;
    gap: 15px;
    font-weight: 600;
    font-size: 25px;
    
}
#reset{
    
}