* {
    margin: 0;
}

#app {
    min-width: 100%;
    max-width: 100%;
}

.haderr {
    position: relative;
    min-height: 386px;
    color: white;
    background: black;
    background-image: url(../images/vista2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 12px;
}

#div_main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#textWin{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:25%;
    background: rgb(169, 144, 238);
    bottom: 25%;
    min-width: 50%;
    min-height: 50%;
    z-index: 1;
}
#win{
  font-size: 40px;
}

#tictactoe {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.squer {
    color: rgb(250, 247, 247);
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 124px;
    width: calc(100%/3);
    height: calc(100%/3);
    background: rgb(56, 55, 55);
    
    border: 2px solid lightgrey;
}.squer:hover{
    color: #262626;
    transform: scale(.9);
    background:rgb(248, 190, 84);
    
}
@media screen and (max-width: 400px) {
    .squer {
        width: calc(100%/3);
        height: calc(50%/3);
        font-size: 40px;
    }
}
@media screen and (max-width: 400px) {
    #canvas {
     padding: 10px;
    }
}